In [1]:
import numpy as np 
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8,10])

In [2]:
s

0     1.0
1     3.0
2     5.0
3     NaN
4     6.0
5     8.0
6    10.0
dtype: float64

In [3]:
dates = pd.date_range("20250122", periods=7)

In [4]:
dates

DatetimeIndex(['2025-01-22', '2025-01-23', '2025-01-24', '2025-01-25',
               '2025-01-26', '2025-01-27', '2025-01-28'],
              dtype='datetime64[us]', freq='D')

In [6]:
df = pd.DataFrame(np.random.rand(7, 4), index=dates,
columns=list("ABCD"))

In [7]:
df

                   A         B         C         D
2025-01-22  0.235775  0.368918  0.427409  0.344656
2025-01-23  0.646319  0.521503  0.360099  0.472463
2025-01-24  0.760402  0.021225  0.184501  0.852575
2025-01-25  0.949960  0.189877  0.345999  0.983917
2025-01-26  0.610904  0.107490  0.477191  0.491730
2025-01-27  0.466743  0.250356  0.802030  0.814858
2025-01-28  0.824105  0.838814  0.071380  0.422373

In [8]:
df2 = pd.DataFrame(
{
"A": 1.0,
"B": pd.Timestamp("20250122"),
"C": pd.Series(1, index=list(range(4)), dtype="float32"),
"D": np.array([3] * 4, dtype="int32"),
"E": pd.Categorical(["test", "train", "test", "train"]),
"F": "flag",
}
)

In [9]:
df2.dtypes

A           float64
B    datetime64[us]
C           float32
D             int32
E          category
F               str
dtype: object

In [10]:
df.head()

                   A         B         C         D
2025-01-22  0.235775  0.368918  0.427409  0.344656
2025-01-23  0.646319  0.521503  0.360099  0.472463
2025-01-24  0.760402  0.021225  0.184501  0.852575
2025-01-25  0.949960  0.189877  0.345999  0.983917
2025-01-26  0.610904  0.107490  0.477191  0.491730

In [11]:
df.tail()

                   A         B         C         D
2025-01-24  0.760402  0.021225  0.184501  0.852575
2025-01-25  0.949960  0.189877  0.345999  0.983917
2025-01-26  0.610904  0.107490  0.477191  0.491730
2025-01-27  0.466743  0.250356  0.802030  0.814858
2025-01-28  0.824105  0.838814  0.071380  0.422373

In [12]:
df.head(2)

                   A         B         C         D
2025-01-22  0.235775  0.368918  0.427409  0.344656
2025-01-23  0.646319  0.521503  0.360099  0.472463

In [13]:
df.tail(3)

                   A         B         C         D
2025-01-26  0.610904  0.107490  0.477191  0.491730
2025-01-27  0.466743  0.250356  0.802030  0.814858
2025-01-28  0.824105  0.838814  0.071380  0.422373

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='str')

In [15]:
df.to_numpy()

array([[0.2357749 , 0.36891775, 0.42740856, 0.34465588],
       [0.64631894, 0.52150257, 0.36009944, 0.47246268],
       [0.76040197, 0.02122519, 0.18450133, 0.85257493],
       [0.94995951, 0.18987679, 0.34599851, 0.98391695],
       [0.61090441, 0.10748992, 0.47719081, 0.49172987],
       [0.46674283, 0.2503562 , 0.80203017, 0.81485839],
       [0.82410539, 0.83881352, 0.07137985, 0.4223726 ]])

In [16]:
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean   0.642030  0.328312  0.381230  0.626082
std    0.237606  0.279252  0.232670  0.250775
min    0.235775  0.021225  0.071380  0.344656
25%    0.538824  0.148683  0.265250  0.447418
50%    0.646319  0.250356  0.360099  0.491730
75%    0.792254  0.445210  0.452300  0.833717
max    0.949960  0.838814  0.802030  0.983917

In [17]:
df.T

,2025-01-22,2025-01-23,2025-01-24,2025-01-25,2025-01-26,2025-01-27,2025-01-28
A,0.235775,0.646319,0.760402,0.949960,0.610904,0.466743,0.824105
B,0.368918,0.521503,0.021225,0.189877,0.107490,0.250356,0.838814
C,0.427409,0.360099,0.184501,0.345999,0.477191,0.802030,0.071380
D,0.344656,0.472463,0.852575,0.983917,0.491730,0.814858,0.422373

In [18]:
df.sort_values(by="A")

                   A         B         C         D
2025-01-22  0.235775  0.368918  0.427409  0.344656
2025-01-27  0.466743  0.250356  0.802030  0.814858
2025-01-26  0.610904  0.107490  0.477191  0.491730
2025-01-23  0.646319  0.521503  0.360099  0.472463
2025-01-24  0.760402  0.021225  0.184501  0.852575
2025-01-28  0.824105  0.838814  0.071380  0.422373
2025-01-25  0.949960  0.189877  0.345999  0.983917

In [19]:
df["B"]

2025-01-22    0.368918
2025-01-23    0.521503
2025-01-24    0.021225
2025-01-25    0.189877
2025-01-26    0.107490
2025-01-27    0.250356
2025-01-28    0.838814
Freq: D, Name: B, dtype: float64